*{
    margin: 0;
    padding: 0;
}
head {
    background-image: url("../ASSETS/Logos/LOGO\ HEADER.svg");
  }
body {
    font-family:'Courier New', Courier, monospace; 
    width: calc(100vw - (100vw - 100%));
    color: #FFE600 ;

}
header {
    background-color: black;
    padding: 16px 32px; 
}
body{background-color: black;}

footer {
background-color: black;

}

 ul{
  font-family:'Courier New', Courier, monospace;
  color: #FFE600;
  display: flex;
  list-style: none;
  position: absolute;
 }
    
     
    
 #logoHeader {
    width: 15vw;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  #logoFooter {
    width: 15vw;
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 20px;
    height: 200px;

}
  #imagenArtista {
    width: 20vw;
    margin: 0 auto;
    display: block;
    position: relative;

  }

  #iconoDisco2 {
    width: 5 vw;
    margin: 0 auto;
    position: absolute;
  }